A<h1>About</h1>

<h2>Why Amble?</h2>

<p>
  Amble was written to help you explore the environment around you; to discover 
  places close by that will help you experience all that Victoria has to offer.  
  Inspired by the incredibly functional user interface of Urbanspoon, we 
  wanted to create a mobile application to help Victorians and tourists 
  discover interesting new places in Victoria quickly and easily.
  
  The initial concept: visitors of Victoria travel around with ideas in mind
  of places to see and activities to do.  At any one of these places, Amble
  can be used to find other places of interest nearby; be it landmarks, art
  galleries, historical sites, restaurants, etc.
  
  While we initially envisioned Amble being used only by tourists, the application
  also stands on it on as being a useful tool to Victorians to discover new places
  in their familiar environment.
</p>

<blockquote>
  In short: explore the environment around you&hellips; help you experience all that 
  Victoria has to offer
</blockquote>

<h3>Goals</h3>
<p>
  The main goal of Amble was, as with all great mobile applications, 
  to get the data to the user as quickly as possible. Further, we focussed 
  on the following:
  
  <ul>
    <li>
      <em>Clear, graphical Places.</em>
      <p>Mobile users don't have time to read long descriptions. A picture tells
        a thousand words.
      </p>
    </li>
    <li>
      <em>Simple Sign-on.</em>
      <p>We chose to use Facebook Connect to make log in as simple as possible 
           for the vast majority of users.
      </p>
    </li>
    <li>
      <em>Simple Interface.</em>
      <p>
        We pared the features down to the absolute minimum required, in order to
        build a great product.
      </p>
    </li>
    <li>
      <em>Great Data.</em>
      <p>
        We used the wealth of data provided by the Victorian Government, and
        cross-referenced it with other online sources to create a very high-quality
        dataset.
      </p>
    </li>
  </ul>
</p>

<blockquote>
  Our goals: to craft a more human approach to discovery&hellips; 
  to encourage activity and meaningful connections.
</blockquote>

<p>
  "Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away"
  - Antoine de Saint-Exupery. 
  
  Although we had many great ideas for features that would make the product very useful
  to our users, we want to craft an app that would convey the core idea without distraction.
  
  Some features that we will consider adding in the future include:
</p>

<ul>
  <li>further social aspects; ratings and comments on places</li>
  <li>user driven content; allow users to add and edit places</li>
  <li>show all places near you in a map based interface</li>
</ul>

<h3>Process</h3>
<p>
  We initially decided the application would be most useful to mobile users. 
  As we were most familiar with the iPhone platform, we began with an iPhone
  application, however we quickly decided that we needed to be able to reach a
  greater audience.
</p>
  
<p>
So we created a mobile web application. Although it was developed primarily for
the iPhone, it works on the Android platform, and could be expanded to support 
the features available on other smart phones in future versions.
</p>

<p>
An added benefit of this approach is that it was simple to create a website
accessible from any computer. Although not as useful to such users as it is to
mobile users on the go, we envisage users using the website to plan trips before time.
</p>

<h3>Bottom Line</h3>
<p>
  We hope our entry has given a taste of what ...
</p>