.c_places.v_quickedit
  :margin 0px 20px

  h1
    :font-size 36px

  h2
    :font-size 24px
    
  li
    :list-style decimal inside none
    :float left
    :margin-left 50px
    
  ul
    :font-size 48px
    :overflow hidden
    
    img.active
      :border 5px solid yellow

  #primary_image
    :border 2px solid #ccc
    :padding 20px 0px
    :margin-bottom 10px
    
  #primary_image_select
    :display none

  #shortcuts
    :border 2px solid #ccc
    :width 400px
    
    dl
      :margin 20px 0px

    dt
      :float left
      :width 100px
      
.c_places.v_index
  #places
    .place
      :width 320px
      :cursor pointer
      :position relative
      
      &.flipped
        .front
          :position absolute
          :top 0
          :left 0
          :z-index 0
          
        .back
          :position relative
          :z-index 10
          :-webkit-animation-name slideinfromright
          :-webkit-animation-timing-function ease-in-out
          :-webkit-animation-duration 300ms
      
      &.unflipped
        .front
          :-webkit-animation-name slideinfromleft
          :-webkit-animation-timing-function ease-in-out
          :-webkit-animation-duration 300ms
      
      .front
        :position relative
        :z-index 10
      
      .back
        :position absolute
        :z-index 0
        :top 0
        :left 0
        :min-height 350px
        :min-width 320px
        :background white
        :border 1px solid #bbb
        :background-color #eee