<script>
  function facebook_login() {
    jQuery('body').append('<iframe src="<%= "https://graph.facebook.com/oauth/authorize?#{facebook_args}" %>">');    
  }
</script>

<a href="javascript:facebook_login();" class="noTargetContent">Login with Facebook</a>