body
  :width 320px

#location
  !location_height = 40px
  :background transparent url('/images/mobile/layout/bg_subnav_40x40.png') repeat-x scroll 0 0
  :height = !location_height
  :padding 0px 10px 0px 20px
  
  #right_arrow
    :height 16px
    :width 12px
    :float right
    :margin-top = (!location_height / 2) - (0.5 * 16)
    
    a
      :text-indent -31337px
      :display block
      :width 100%
      :height 100%
      :background-image url('/images/mobile/btns/btn_subnav_arrows_12x16.png')
      :background-position 0 0
      &:active
        :background-position 0 -17px
  
  p
    :font bold 12px/40px helvetica
    :text-align center
  
    a
      :color #003399
      :text-decoration none
      &:hover
        :text-decoration underline  

#nav
  !nav_height = 40px
  :height = !nav_height
  :background transparent url('/images/mobile/layout/bg_nav_40x40.png') repeat-x scroll 0 0
  :padding 0px 10px 0px 20px
  
  img
    :margin-top = (!nav_height / 2) - (0.5 * 15)
  
  ol
    :float right
    :margin-top = (!nav_height / 2) - (0.5 * 26)
    
    li
      :width 80px
      :height 26px
      :display block
      :float left
      :margin-left 8px
      
      a
        :text-indent -31337px
        :display block
        :width 100%
        :height 100%
        :background-image url('/images/mobile/btns/btn_nav_80x26.png')
      
      &#explore
        a
          :background-position 0 0      
          &.active
            :background-position 0 -27px      
                
      &#my_places
        a
          :background-position -80px 0
          &.active
            :background-position -80px -27px      
