<div id="location" class="nav_bar">
  <div id="right_arrow">
    <a href="">Location Options</a>
  </div>
  
  <p>Showing <a href="">all places</a> near your <a href="">current location</a></p>
  
  <!--
  <%- if @user.nil? -%>
    Displaying locations near to <%= @location %>.
  <%- else -%>
    Locations Saved by <%= @user.name %>.
  <%- end -%>
  -->
</div>      
