<ol id="nav">
  <li id="nav_amble">
    <%= link_to 'Amble', {:controller => '/places', :action => 'index'} %> 
  </li>
  <li id="nav_my_places">
    <%= link_to 'My Places', {:controller => '/users', :action => 'places'} %> 
  </li>
  <li id="nav_account">
    <%= link_to 'Account', {:controller => '/users', :action => 'show'} %> 
  </li>
</ol>