<ol id="nav">
  <li id="nav_amble">
    <%= link_to 'Amble', places_path %> 
  </li>
  <li id="nav_my_places">
    <%= link_to 'My Places', my_places_users_path %> 
  </li>
  <li id="nav_account">
    <%= link_to 'Account', account_users_path %> 
  </li>
</ol>