<div id="places" class="places">
  <%= render :partial => 'place.html', :collection => places %>
  
  <%- unless places.next_page.nil? -%>
    <div class="nav_bar more_places">
      <%= link_to 'Load more places »', 
        {:place_filter => @place_filter.to_hash.reject{|k,v| k == :location}, :page => places.next_page} %>
    </div>
  <%- end -%>
</div>

