<!-- <script>
  navigator.geolocation.getCurrentPosition(function(position) { console.log(position); });
  console.log(window.navigator.standalone);
</script> -->

<%- @places.each do |p| -%>
  <% link_to p do %>
    <%= image_tag p.primary_image.image.url(:medium), :alt => p.name %>
  <%- end -%>
<%- end -%>


<div class="places">
  <%= render :partial => 'place', :collection => @places %>
</div>


<%= link_to 'New place', new_place_path %>