<script>
  $(document).ready(function() { 
    $('.details a').click(function() {
      $('#places .place').css('display', 'none')
    
      $(this).parents('.place').css('display', 'block')
      $(this).parents('.place').children('.front').css('display', 'none');
      $(this).parents('.place').children('.back').css('display', 'block');
    
      return false;
    })
  
    $('.back_btn').click(function() {
      $('#places .place').css('display', 'block')
      $('#places .place .front').css('display', 'block')
    
      $('#places .place .back').css('display', 'none')

      return false;
    })
  })
</script>


<div id="places_filter" class="nav_bar">
  <label>Places</label>
  
  <%= select "p", "category", Category.all.collect { |c| [c.name, c.id]}, {:include_blank => 'All Places'}%>
</div>

<div id="set_location" class="nav_bar">
  <label>Location</lable>
  
  <div class="locate"></div>
  <input type="text" value="Current Location"></input>
</div>

<div id="location" class="nav_bar">
  <div id="right_arrow">
    <a href="">Location Options</a>
  </div>
  
  <p>Showing <a href="">all places</a> near your <a href="">current location</a></p>
  
  <!--
  <%- if @user.nil? -%>
    Displaying locations near to <%= @location %>.
  <%- else -%>
    Locations Saved by <%= @user.name %>.
  <%- end -%>
  -->
</div>      


<div id="places">
  <%= render :partial => 'place', :collection => @places %>
</div>

<div id="footer">
  <!-- todo: hook up link -->
  <div><a href="">What is Amble?</a></div>
  <div>Crafted by Percolate Studio</div>
  <div>&copy; 2010 Amble</div>
</div>

