<script>
$(document).ready(function() { 
  $('.front').click(function() {
    //$(this).parent('.place').addClass('flipped').removeClass('unflipped');
  })
  
  $('.back').click(function() {
    //$(this).parent('.place').removeClass('flipped').addClass('unflipped');
  })
})

</script>

<!--
<%- if @user.nil? -%>
  Displaying locations near to <%= @location %>.
<%- else -%>
  Locations Saved by <%= @user.name %>.
<%- end -%>
-->

<div id="places">
  <%= render :partial => 'place', :collection => @places %>
</div>
